<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>___{BEERNAME} BrewPi BrewLog</title>
    <script type="text/javascript" src="js/dygraph.2.0.0.min.js"></script>
    <link type="text/css" href="css/dygraph.2.0.0.min.css" rel="stylesheet"/>
    <link type="text/css" href="css/style.css" rel="stylesheet"/>
    <link type="text/css" href="css/tiltHydrometer.css" rel="stylesheet"/>
    <link type="text/css" href="css/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet" />

</head>
<body>
<div id="beer-panel" class="ui-widget ui-widget-content ui-corner-all">
    <div id="top-bar" class="ui-widget ui-widget-header ui-corner-all">
        <div id="lcd" class="lcddisplay">
            <span class="lcd-text">
                <span class="lcd-line" id="lcd-line-0">___{LCD0}</span>
                <span class="lcd-line" id="lcd-line-1">___{LCD1}</span>
                <span class="lcd-line" id="lcd-line-2">___{LCD2}</span>
                <span class="lcd-line" id="lcd-line-3">___{LCD3}</span>
            </span>
        </div>
        <div id="logo-container">
            <img src="brewpi_logo.png">
            <div id=beer-name-container>
            <span>___{BEERNAME}</span>
        </div>
    </div>
</div>
<div class="chart-container">
    <div id="curr-beer-chart" class="beer-chart" style="width:815px; height:390px"></div>
    <div id="curr-beer-chart-controls" class="beer-chart-controls"></div>
</div>
<script type="text/javascript">
    var tempFormat = function(y) {
        return parseFloat(y).toFixed(2) + "\u00B0 C";
    };
    var gravityFormat = function(y) {
        return parseFloat(y).toFixed(3);
    };

    ___{BEERCHART}
</script>
</body>
</html>
